Package: com.swiftss.rails12306adblock
Name: 12306 Ad Block
Version: 1.1.5
Architecture: iphoneos-arm
Description: Scoped launch, order, and travel-services ad filtering.
Maintainer: swiftss
Author: swiftss
Section: Tweaks
Depends: mobilesubstrate
