Package: com.swiftss.rails12306adblock
Name: 12306 Ad Block
Version: 1.1.3
Architecture: iphoneos-arm
Description: Window-level launch ad hiding plus scoped home and order filtering.
Maintainer: swiftss
Author: swiftss
Section: Tweaks
Depends: mobilesubstrate
