Package: com.swiftss.rails12306adblock
Name: 12306 Ad Block
Version: 1.0.1
Architecture: iphoneos-arm
Description: Removes launch, home-top, and order-bottom ads from Railway 12306 5.9.6.
Maintainer: swiftss
Author: swiftss
Section: Tweaks
Depends: mobilesubstrate
